<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}fasttrack mandic{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
          {% include "MandicFastTrackBundle:Global:top.html.twig" %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
