{% extends '::base.html.twig' %}
{% block username %}
  <p class="navbar-text pull-right">Please, complete below your credential infos</p>
{% endblock %}
{% block body %}
  {{ parent () }}
  <center>
    <form action="{{ path('login_check') }}" method="post" class="form-horizontal login">
      <div class="control-group">
        <div class="controls">
          <input id="username" type="text" name="_username" value="{{ last_username }}" placeholder="User" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input id="password" type="password" name="_password" placeholder="Password" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Sign in</button>
        </div>
      </div>
      {% if error %} 
      <div class="control-group">
        <div class="controls">
          <div class="alert alert-error">{{ error.message }}</div>
        </div>
      </div>
      {% endif %}
    </form>
  </center>
{% endblock %}
